<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h2>From Hack to Scratch</h2>
    <br />
    <h3>Lesson programs from the top instructors in your area</h3>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success learn' %>
    <br /><br />
  </div>
</div>
<br />
<div class="col-xs-12 col-xs-offsest-1 text-center">
  <div class="col-sm-4">
    <br />
    <%= image_tag 'video.png', class: 'icons3' %>
    <br /><br /><br />
    <h3>Video Lessons</h3>
    <br />
    <p>
      Step-by-step golf instructional videos that you can follow along with at your own pace.
    </p>
  </div>

  <div class="col-sm-4">
    <br />
    <%= image_tag 'golfer.png', class: 'icons3' %>
    <br /><br /><br />
    <h3>World Class Instruction</h3>
    <br />
    <p>
      Learn modern swing theories from the best insructors in your area.
    </p>
  </div>

  <div class ="col-sm-4">
    <br />
    <%= image_tag 'trophy.png', class: 'icons3' %>
    <br /><br /><br />
    <h3>Achieve Greatness!</h3>
    <br />
    <p>
     Take your skills to the next level and start dominating!
    </p>
  </div>
</div>
