@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600|Lato:400,700');

.navbar {
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  background: url('/assets/green_cup.png');
  border: none;
  
}

a.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
}

.navbar-default
.navbar-brand {
  color: snow;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #5e5e5e;
  background-color: transparent;
}

body {
  font-family: 'Lato', sans-serif;  
}

.navbar-default .navbar-nav > li > a {
  color: snow;
}

.hero {
  width: 100%;
  padding-bottom: 66.666666666667%;
  background: url('/assets/desk.jpg');
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}