@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');

.navbar {
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'Cinzel', serif;
  font-size: 1.25em;
  background: url('/assets/green_cup.png');
  border: none;

}

a.navbar-brand {
  font-family: 'Cinzel', serif;
 }

.navbar-default
.navbar-brand {
  color: snow;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #5e5e5e;
  background-color: transparent;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url('/assets/extra_clean_paper.png');
  font-size: 16px;
}

body a {
  color: #547052;
}

body a:hover {
  text-decoration: none;
  color: #6AC462;
}

.navbar-default .navbar-nav > li > a {
  color: snow;
}

.hero {
  width: 100%;
  padding-bottom: 66.666666666667%;
  background: url('/assets/bucket.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background:rgba(61,84,50, 0.5);
  color: white;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty h1 {
  font-family: 'loveloblack';
  text-shadow: rgba(0,0,0,0.95)1px 1px;
}

.frosty h2 {
  font-family: 'loveloblack';
  text-shadow: rgba(0,0,0,0.95)1px 1px;
}

input.btn {
  color: snow;
}

.btn {
  border-radius: 0;
}

.title {
  color: #163613;
}

.learn {
  background-color: #1daf8c;
}

/*.btn:hover {
  background-color: #B1BA50;
  color: snow;
}*/

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 15px;
}

.clr {
  clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

.label {
  /*padding: 1em 3em 1.2em;*/
  font-size: 1.25em;
  background-color: #218F96;
  border-radius: 0;
}

.lesson {
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue", Helvetica;
  margin-top: 10px;
  height: 120px;
  padding-top: auto;
}

.lesson a {
  color: white;
  text-decoration: none;
  font-family: "Helvetica Neue",Helvetica;
  font-weight: 300;
  font-size: 20px;
}

.lesson a b {
  font-weight: 300;
  font-size: 20px;
}

.lesson a:hover {
  color: #B1BA50;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.enroll {
  background-color: #349EC2;
}

.fee {
  background-color: #1A8507;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .glyphicon {
  font-size: 20px;
}

.lessons li {
  background-color: rgba(36,32,33,0.9);
  font-family: "Helvetica Neue", Helvetica;
  color: white;
  margin: 10px;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 300;
}

.lessons li p {
  margin: 0;
}

hr {
  height: 2px;
  width: 300px;
}

.icons3 {
  height: 95px;
}
