@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'loveloblack';
  font-size: 1.5em;
  background: url('/assets/green_cup.png');
  border: none;
  
}

a.navbar-brand {
  font-family: 'loveloblack';
  font-size: 1.25em;
}

.navbar-default
.navbar-brand {
  color: snow;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #5e5e5e;
  background-color: transparent;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url('/assets/extra_clean_paper.png');
}

.navbar-default .navbar-nav > li > a {
  color: snow;
}

.hero {
  width: 100%;
  padding-bottom: 66.666666666667%;
  background: url('/assets/snow.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background:rgba(61,84,50, 0.5);
  color: white;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty h1 {
  font-family: 'loveloblack';
  text-shadow: rgba(0,0,0,0.95)1px 1px;
}

.frosty h2 {
  font-family: 'loveloblack';
  text-shadow: rgba(0,0,0,0.95)1px 1px;
}

.btn {
  border-radius: 0;
  background-color: #586B4F;
  border: none;
}

.btn:hover {
  background-color: #3C4538;
  color: snow;
}